* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar-container {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 4;
}
.wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:dodgerblue;
}
.left{
    flex: 1;
    display: flex;
    align-items: center;
}
.logo{
    font-weight: bold;
}
.language{
    font-size: 10pt;
    cursor: pointer;
}
.search-container{
    display: flex;
    align-items: center;
    padding: 3px;
    margin-left: 20px;
}
.input-search{
    border: none;
    width: 300px;
    height: 25px;
}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.menu-item{
cursor: pointer;
margin-left: 20px;
font-size: 12pt;
}
.center{
    justify-content: center;
    align-items: center;
    flex: 1;
}
